* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif; 
}

header{
    padding: 10px 0px 0px 0px;
    margin: auto;
    
    
}
/*EL topMenu INCLUYE: LOGO, BARRA DE BUSQUEDAS, ICONOS.*/
.topMenu{
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    background-color: white;
    width: 100%;
} 
    .topMenu img{
        width: 100px;
        
    
    }

/*CÓDIGO DE LA BARRA DE BÚSQUEDAS*/    
.buscador{
   display: flex;  
}   
    form.buscador input[type=text]{
        display: none;
    }
    
    div.ContenedorBuscador button[type=submit]{
    border:white solid 1px;
    background-color: white; 
    
    } 

/*CÓDIGO DEL CONTENEDOR DE LOS ÍCONOS*/
.contenedorIconos{
    display: flex;
    flex-direction:row;
    align-items: baseline;    
      
} 
    .contenedorIconos i{
        margin: 0 5px;
        font-size: 22;
        color: #383D3D;
        align-items: left;           
     
    }

/*CÓDIGO DEL BURGER MENU*/
    .burger-menu{
        
        text-align: center;
        font-size: 20px;
    }
         .burger-menu i{
             color:white;
             margin: 5px;
             background-color: #7DB9B3;
             border-radius: 5px;
             height: 35px;
             width: 35px;
             padding: 10px;             
        }
      
  

/*CÓDIGO DE LA BARRA DE: MENU, NOTICIAS, ETC.*/
.nav-bar {
    display: none;
    align-items: center;
    padding: 2%;
    justify-content: space-around;
    border: transparent 1px solid;
    background-color: #7DB9B3;
} 

    .nav-bar ul li {
        display: inline-block;
    } 
    
    .nav-bar ul li a {
        color: #383D3D;
        font-weight: 1000;
        text-decoration: none;
        display: inline-block;
        margin: 0 8px;
    }
    
/*INICIO DEL FOOTER DE LA PÁGINA HOME*/ 

footer {
    width: 97.8vw;
    background-color: #38534f;
    color: white;
    padding: 2%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-self: auto;
    border: black 2px solid;
}

.SobreNosotros {
    /*border: chartreuse 2px solid;*/
    display: none;
    margin-bottom: 2%;
}

.FAQ {
    /*border: blue 2px solid;*/
    margin-bottom: 2%;
}

.FAQ ul {
    list-style: none;
}

.FAQ ul a {
    text-decoration: none;
    color: lightgray;
}

.contacto {
    display: block;
    margin-bottom: 2%;
    /*border: orangered 2px solid;*/
}

.mediosDePago {
    display: block;
    margin-bottom: 2%;
    /*border: blueviolet 2px solid;*/
}

footer i {
    font-size: 2rem;
}

.fa-facebook-square:before {
    color: #1877F2
}
.fa-twitter-square:before {
    color: #00acee;
}
.fa-whatsapp:before {
    color: #00bb2d;
}


/*INICIO DEL <MAIN> DE LA PÁGINA HOME*/



 /*-------------------------------------------------------------------------------------*/

/*INICIO DEL <MAIN> DE LA PÁGINA CARRITO DE COMPRAS*/

 /*-------------------------------------------------------------------------------------*/

/*INICIO DEL <MAIN> DE LA PÁGINA CARRITO DE FACTURACIÓN*/

 /*-------------------------------------------------------------------------------------*/

/*INICIO DEL <MAIN> DE LA PÁGINA CARRITO DE LOGIN*/

 /*-------------------------------------------------------------------------------------*/

/*INICIO DEL <MAIN> DE LA PÁGINA CARRITO DE REGISTER*/

 /*-------------------------------------------------------------------------------------*/

/*INICIO DEL <MAIN> DE LA PÁGINA CARRITO DE DETALLE DEL PRODUCTO*/

 /*-------------------------------------------------------------------------------------*/



/*INICIO DE LAS MEDIA QUERIES*/    

@media(min-width: 361px){

    /*HEADER DE LA PÁGINA HOME*/    
        header{
            border-bottom: 2px solid lightgray;
        }
        
        /*BUSCADOR QUERIE 361PX*/
        form.buscador input[type=text]{
            display: none;
            margin-right: 1px;
            border-radius: 6px;
            border: 1px solid lightgray;
            background-color: #383D3D1A;
            color: lightgray;
            width: 70%;
            margin-left: 30px;        
        }    
         /*NORMALIZACIÓN DE LOS ÍCONOS*/
        .fa-shopping-cart:before, .fa-user-circle:before, .fa-search:before {
            font-size: 1.5rem;
        }
     /*FOOTER DE LA PÁGINA HOME*/ 
        
    }
    
    @media(min-width: 768px){
    
    /*HEADER DE LA PÁGINA HOME*/ 
    
         /*ELEMENTOS QUE NO TIENEN QUE APARECER A PARTIR DE ESTA RESOLUCIÓN!*/
        header{
            border-bottom: none;
        }    
        .burger-menu{
            display: none;
        }
        /*ELEMENTOS QUE SÍ TIENEN QUE APARECER A PARTIR DE ESTA RESOLUCIÓN!*/
        .nav-bar{
         display: block;
        }
         
        form.buscador input[type=text]{
         display: block;
         width: 100%;       
        }     
            div.ContenedorBuscador button[type=submit]{
             border:white solid 1px;
             background-color: white;
            }
            
            .contenedorIconos{
             align-items:flex-end;
             margin: 0 10px;  
            }
     
     /*FOOTER DE LA PÁGINA HOME*/    
<<<<<<< HEAD

     /*INICIO DEL <MAIN> DE LA PÁGINA HOME*/

     /*-----------------------------------------------------------*/
     

=======
     footer {
        justify-content: space-between;
        }
>>>>>>> e625c8de4006b4ee05474eb73bbdf4feb379bf49
    }
    
    @media(min-width: 1200px){
        
     /*HEADER DE LA PÁGINA HOME*/    
        /*AUMENTANDO EL TAMAÑO DEL LOGO*/
        .topMenu img{
            width: 150px;        
        }
    
        .nav-bar{
            display: flex;
            
        }    
            .nav-bar ul li a {
                font-size: 22px;
                margin: 0 25px;
            }
    
    
        .contenedorIconos i{
            margin: 0 15px;
                        
        }
     
     /*FOOTER DE LA PÁGINA HOME*/ 
    
    
     /*-------------------------------------------------------------------------------------*/
     footer {
        justify-content: space-between;
        }
        .SobreNosotros {
            display: block;
        }
        footer section h2 {
            margin-bottom: 1.5%;
        }
        footer section p {
            text-align: justify;
        }
    }    