* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif; 
}

header{
    padding: 10px;
    margin: auto;
    
}

.topMenu{
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    border: red solid 1px;
}

.topMenu img{
    width: 100px;
    border: green solid 2px;
}

.topMenu .buscador{
    display: flex;  
}

div.ContenedorBuscador input[type=text]{
    display: none;
    width: fit-content;
}
div.ContenedorBuscador button[type=submit]{
    border:white solid 1px;
    background-color: white;

} 


.button [type="submit"]{
    margin-left: 20px;
}

.nav-bar {
    display: none;
    justify-content: flex-start;
    align-items: center;
    padding: 2%;
    justify-content: space-around;
    border: rebeccapurple 1px solid;
}

.nav-bar ul li {
    display: inline-block;
}

.nav-bar ul li a {
    color: #383D3D;
    font-weight: 1000;
    text-decoration: none;
    display: inline-block;
    margin: 0 8px;
}

.contenedorIconos{
    display: flex;
    border: red 2px solid;
    padding: 5px;
    
}
.contenedorIconos i{
    margin: 0 10px;
    font-size: 22px;
}



@media(min-width: 361px){
    div.ContenedorBuscador input[type=text]{
        display: none;
        width: fit-content;

    }
    
    
    
}

@media(min-width: 768px){
    .nav-bar{
        display: flex;
    }
    .burger-menu{
        display: none;
    }
    div.ContenedorBuscador input[type=text]{
        display: flex;
        width: fit-content;
        margin-right: 1px;
    }
    div.ContenedorBuscador button[type=submit]{
        border:white solid 1px;
        background-color: white;

    } 
    
}
@media(min-width: 1200px){
    .nav-bar{
        display: flex;
    }
    .burger-menu{
        display: none;
    }
}

