<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/css/styles.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="icon" href="/images/Ronin-logo-icon.ico">
    <title>Facturación</title>
</head>

<body>

    <header>
        <section class="topMenu">
            <a href="/"><img src="/images/Logo-Ronin.png" alt="Logo Ronin"></a>
    
            <div class="contenedorIconos">
    
                <div class="ContenedorBuscador">
                    <form class="buscador" action="action_page.php">
                        <input type="text" placeholder="Buscar" name="search">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <a href="/Carrito-compras"><i class="fas fa-shopping-cart"></i></a>
                <a href="/login"><i class="fas fa-user-circle"></i></a>
                <div class="burger-menu"><i class="fa fa-bars burger"></i>
                </div>
        </section>
        <section>
            <nav class="nav-bar">
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="#">Colecciones</a></li>
                    <li><a href="#ancla-1">Contacto</a></li>
                    <li><a href="/FAQ">Preguntas frecuentes</a></li>
                </ul>
            </nav>
        </section>
    
    </header>
    
<main>
    
<section class="contenedor-forms">

<section class="contenedor-datos">
        <form action="/" method="POST" class="create-form">
            <div class="control-create-form">
                <h2>Datos de facturación:</h2>
                <label for="name"></label>
                <input type="text" name="name" placeholder="Nombre*" class="control-form" required>
                <label for="last-name"></label>
                <input type="text" name="last-name" placeholder="Apellido*" class="control-form" required>
            </div>
            <div class="control-create-form">
                <label for="address"></label>
                <input type="text" name="address" id="address" placeholder="Dirección*" class="control-form">
                <label for="location"></label>
                <input type="text" name="location" id="location" placeholder="Localidad*" class="control-form">
            </div>
            <div class="control-create-form">
                <label for="province"></label>
                <input type="text" name="province" placeholder="Provincia*" class="control-form">
                <label for="zip-code"></label>
                <input type="text" name="zip-code" placeholder="Código postal*" class="control-form">
            </div>
            <div class="control-create-form">
                <label for="telephone"></label>
                <input type="tel" name="telephone" placeholder="Teléfono*" class="control-form">
                <label for="e-mail"></label>
                <input type="email" name="e-mail" placeholder="Correo electrónico*" class="control-form">
            </div>
            <div class="control-create-form">
                <label for="dni"></label>
                <input type="text" name="dni" placeholder="DNI*" class="control-form">
            </div>
            <div class="control-create-form">
            <label for="newsletter"></label> 
                <input type="checkbox" name="newsletter">¡Quiero recibir promociones y descuentos!
            </div>
            <div class="contenedor-buttons-create-form">
                <button type="submit" value="submit" class="buttons-create-form" id="bu">Guardar</button>
                <button type="reset" value="Borrar" class="buttons-create-form">Borrar</button>
            </div>
        </div>
        </form>
     </section>
     <section class="contenedor-billing">
        <form action="/billing" method="POST" class="form-billing">
            <div class="control-formulario">
                <h2>Seleccione un método de pago:</h2>
                <label for="payment-type"></label> 
                    <select name="payment-type" class="paymentList"> 
                        <option value="Efectivo">Efectivo</option>
                        <option value="Tarjeta de crédito">Tarjeta de crédito</option>
                        <option value="Tarjeta débito">Tarjeta débito</option> 
                        <option value="Mercado Pago">Mercado Pago</option>
                        <option value="Pay Pal">Pay Pal</option>
                        <option value="Western Union">Western Union</option>    
                    </select> 
            </div>
            <div class="control-formulario">
                <label for="card-number">Número de la tarjeta* :</label>
                    <label><input type="text" name="card-number" id="card-number" placeholder="Ej. 12345-6789" class="control" required ></label>
            </div>
            <div class="control-formulario">
                <label for="card-date">Fecha de vencimiento* :</label>
                    <label><input type="text" name="card-date" id="card-date" placeholder="mm/aa" required class="control"></label>
            </div>
            <div class="control-formulario">
                <label for="card-pass">Código de seguridad* :</label>
                    <label><input type="password" name="card-pass" id="card-pass" required></label>
            </div>
            <div class="control-formulario">
                <label for="cuotas">Número de cuotas*:</label>
                    <select name="cuotas" class="paymentList">
                        <option value="3">3</option>
                        <option value="6">6</option>
                        <option value="12">12</option>
                    </select>
            </div>
            <div class="control-formulario">
                <label for="terminos">
                    <input type="checkbox" name="terminos">
                    He leído y acepto los términos y condiciones
                </label>
                <br>
                <br>
                <label for="newsletter"> 
                    <input type="checkbox" name="newsletter">
                    ¡Quiero recibir promociones y descuentos!
                </label>      
                <br>
                <br>
            <button type="submit" class="button-billing">Realizar pago</button>
        </form>
    </section>    
    
</section>


<section class="bannerFinal">
    <div class="bannerFinalPartes">
        <i class="fas fa-truck"></i>
        <div class="titulo-p">
        <h2>ENVIAMOS TU COMPRA</h2>
        <p>Entregas en todo el país</p>
        </div>
    </div>
    <div class="bannerFinalPartes" id="bannerFinal2">
        <i class="far fa-credit-card"></i>
        <div class="titulo-p">
        <h2>PAGÁ COMO QUIERAS</h2>
        <p>Tarjetas de crédito o efectivo</p>
        </div>
    </div>
    <div class="bannerFinalPartes" id="bannerFinal1">
        <i class="fas fa-lock"></i>
        <div class="titulo-p">
        <h2>COMPRÁ CON SEGURIDAD</h2>
        <p>Tus datos siempre protegidos</p>
        </div>

    </div>
</section>
    </main>
<footer>

    <section class="section1">

        <div class="FAQ">
        <h2>Atención al cliente</h2>
        <ul>
            <li><a href="/FAQ">Preguntas frecuentes</a></li>
            <li><a href="/FAQ">Envíos y retiros</a></li>
            <li><a href="/FAQ">Newsletter</a></li>
            <li><a href="/FAQ">Cambios y devoluciones</a></li>
        </ul>
    </div>
    <div class="contacto">
        <h2>Contacto</h2>
        <a name="ancla-1"></a>
        <div class="mail">
            <p>inforonin@gmail.com</p>
            <br>
            <p>011-345081915</p>
        </div>
        <div class="iconosSociales">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter-square"></i>
            <i class="fab fa-whatsapp"></i>
        </div>
    </div>
    <div class="mediosDePago">
        <h2>Medios de pago</h2>
        <div class="ahora12">
            <p>Ahora 12 y Ahora 18</p>
        </div>
    <div class="iconosPago">
        <i class="fab fa-cc-visa"></i>
        <i class="fab fa-cc-paypal"></i>
        <i class="fab fa-cc-mastercard"></i>
        <i class="fab fa-cc-amex"></i>
    </div>
    </div>
</section>    

<section class="section2"> 
    <div class="derechosR">
        <p>© 2021 R o n i n</p>
    </div>

</section> 
</footer>
</body>

</html>