<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/css/styles.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="icon" href="/images/Ronin-logo-icon.ico">
    <title>Preguntas frecuentes</title>
</head>

<body>

    <header>
        <section class="topMenu">
            <a href="/"><img src="/images/Logo-Ronin.png" alt="Logo Ronin"></a>
    
            <div class="contenedorIconos">
    
                <div class="ContenedorBuscador">
                    <form class="buscador" action="action_page.php">
                        <input type="text" placeholder="Buscar" name="search">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <a href="/Carrito-compras"><i class="fas fa-shopping-cart"></i></a>
                <a href="/login"><i class="fas fa-user-circle"></i></a>
                <div class="burger-menu"><i class="fa fa-bars burger"></i>
                </div>
        </section>
        <section>
            <nav class="nav-bar">
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="#">Colecciones</a></li>
                    <li><a href="#ancla-1">Contacto</a></li>
                    <li><a href="/FAQ">Preguntas frecuentes</a></li>
                </ul>
            </nav>
        </section>
    
    </header>
    
    <main class="FAQ-main">
        <h1>Preguntas frecuentes</h1>

        <h2>> ¿QUÉ MEDIOS DE PAGO ACEPTAN?</h2>
        <p> Aceptamos todas las tarjetas de crédito o débito, de cualquier banco. También aceptamos pago en efectivo
            imprimiendo tu cupón para pagarlo en PagoFácil o RapiPago. Procesamos todas nuestras ventas con MercadoPago,
            por lo tanto los pagos son 100% seguros. Para más detalles sobre la forma de pago, hace click acá.</p>

        <h2>> ¿A DÓNDE REALIZAN ENVÍOS?</h2>
        <p> Realizamos envíos a todo el territorio de la República Argentina a través de Expreso BRIO o Correo
            Argentino, según el destino.</p>

        <h2>> CAMBIOS Y DEVOLUCIONES</h2>
        <p> Desde Relojes Rönin deseamos que tu experiencia de compra sea satisfactoria, por eso, ante cualquier
            inconveniente con el producto, tendrás hasta 6 meses para poder solicitar un cambio y/o reembolso del mismo.
        </p>

        <h2>> ¿CÓMO ME ENTERO DE LAS NOVEDADES?</h2>
        <p> Para cupones de descuento, promociones y nuevas colecciones inscribite a nuestro Newsletter.</p>

        <h2>> SOBRE RELOJES RONIN</h2>
        <p> Relojes Rönin es una compañía familiar de 65 años de trayectoria en la producción y comercialización de
            relojes. Trabajamos todos los días para poder confeccionar productos de calidad, sofisticados, y que
            acompañen a sus dueños durante muchos años.</p>

    </main>

    <footer>

        <section class="section1">
    
            <div class="FAQ">
            <h2>Atención al cliente</h2>
            <ul>
                <li><a href="/FAQ">Preguntas frecuentes</a></li>
                <li><a href="/FAQ">Envíos y retiros</a></li>
                <li><a href="/FAQ">Newsletter</a></li>
                <li><a href="/FAQ">Cambios y devoluciones</a></li>
            </ul>
        </div>
        <div class="contacto">
            <h2>Contacto</h2>
            <a name="ancla-1"></a>
            <div class="mail">
                <p>inforonin@gmail.com</p>
                <br>
                <p>011-345081915</p>
            </div>
            <div class="iconosSociales">
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-twitter-square"></i>
                <i class="fab fa-whatsapp"></i>
            </div>
        </div>
        <div class="mediosDePago">
            <h2>Medios de pago</h2>
            <div class="ahora12">
                <p>Ahora 12 y Ahora 18</p>
            </div>
        <div class="iconosPago">
            <i class="fab fa-cc-visa"></i>
            <i class="fab fa-cc-paypal"></i>
            <i class="fab fa-cc-mastercard"></i>
            <i class="fab fa-cc-amex"></i>
        </div>
        </div>
    </section>    
    
    <section class="section2"> 
        <div class="derechosR">
            <p>© 2021 R o n i n</p>
        </div>
    
    </section> 
    </footer>

</body>

</html>