<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/css/styles.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="icon" href="/images/Ronin-logo-icon.ico">
    <title>Relojes Ronin</title>
</head>

<body>

<header>

    <section class="topMenu">
        <a href="/"><img src="/images/Logo-Ronin.png" alt="Logo Ronin"></a>


        <div class="contenedorIconos">

            <div class="ContenedorBuscador">
                <form class="buscador" action="action_page.php">
                    <input type="text" placeholder="Buscar" name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <a href="/Carrito-compras"><i class="fas fa-shopping-cart"></i></a>
            <a href="/login"><i class="fas fa-user-circle"></i></a>
            <div class="burger-menu"><i class="fa fa-bars burger"></i>
            </div>
    </section>
    <section>
        <nav class="nav-bar">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="#">Colecciones</a></li>
                <li><a href="#ancla-1">Contacto</a></li>
                <li><a href="/FAQ">Preguntas frecuentes</a></li>
            </ul>
        </nav>
    </section>

</header>

<main class="main-index">
   <!---- <section class="bloque-carrusel">
        <img src="/images/relojcarrusel.jpg" alt="carrusel">
        <i class="fas fa-angle-left"></i>
        <i class="fas fa-angle-right"></i>
    </section>-->
    <section class="video">
        <video src="./images/videoR.mp4#t=2" poster="./images/relojcarrusel.jpg" autoplay muted loop>
        </video>
    </section>
   

    <section class="bloque-genderLineas">
        <button class="masculine" onclick="">Línea Masculina</button>
        <button class="fem" onclick="">Línea Femenina</button>
        <button class="n-gender" onclick="">Línea No-gender</button>
    </section>

    <section class="bloque-filtros-productos">
        
        <div class="filtrosR">
            <form action="/filtroRelojes" method="POST" class="filtroRelojes">
                    
                <div class="precioR">
                    <h4>Precio</h4>
                    <div class="barritaPrecio">
                        <input type="range" min="1" max="100" value="50" class="barraPInput" id="myRange">
                        <p>Value: <span id="demo"></span></p>
                      </div>        
                </div>
                
                <div class="marcaR">
                    <h4>Marca</h4>
                    
                    <label for="a" class="marcaR">
                        <input type="checkbox" name="marca" value="Rolex" id="a">
                    Rolex
                    </label>                
                    <label for="b" class="marcaR">
                        <input type="checkbox" name="marca" value="Bulova" id="b">
                    Bulova
                    </label>
                    <label for="c" class="marcaR">
                        <input type="checkbox" name="marca" value="Tommy" id="c">
                    Tommy
                    </label>
                    <label for="d" class="marcaR">
                        <input type="checkbox" name="marca" value="Fahren" id="d">
                    Fahren
                    </label>
                </div>   

                <div class="colorR">   
                    <h4>Color</h4>
                       
                    <label for="1" class="colorR">
                        <input type="checkbox" name="color" value="Gold" id="1">
                    Gold
                    </label>                
                    <label for="2" class="colorR">
                        <input type="checkbox" name="color" value="Blanco" id="2">
                   Blanco
                    </label>
                    <label for="3" class="colorR">
                        <input type="checkbox" name="color" value="Negro" id="3">
                    Negro                    </label>
                    <label for="4" class="colorR">
                        <input type="checkbox" name="color" value="Pink" id="4">
                    Pink
                    </label>
                </div> 

                <div class="tipoR">
                    <h4>Tipo</h4>
                       
                    <label for="1a" class="tipoR">
                        <input type="checkbox" name="tipo" value="Analógico" id="1a">
                    Analógico
                    </label>                
                    <label for="1b" class="colorR">
                        <input type="checkbox" name="tipo" value="Digital" id="1b">
                   Digital
                    </label>
                </div>  

               <div class="botFiltros">
                   <button>Aplicar filtros</button>
               </div> 
               <div class="botFiltros">
                <button>Borrar filtros</button>
            </div> 
                </form>

        </div>
        
        <div class="productosR">
            <article class="articulosR">            
                <img src="/images/Reloj1.jpg">                               
                <div class="detallesProductosR">
                    <h3 class="nombreR">Reloj Kamakura</h3>
                    <p class="precioR"> $38.000</p>
                    <p class="financiacionR">18 cuotas sin interés</p>
                    <a href="/Detalle-de-producto" class="verP">
                        <i class="far fa-eye"></i>
                        <p class="detalleOjo">Ver detalle</p></a>
                   
                </div>
            
            </article>

            <article class="articulosR">
                   <img src="/images/Reloj2.jpg">
                <div class="detallesProductosR">
                    <h3 class="nombreR">Reloj Tokio</h3>
                    <p class="precioR"> $22.000</p>
                    <p class="financiacionR">18 cuotas sin interés</p>
                    <a href="/Detalle-de-producto" class="verP">
                        <i class="far fa-eye"></i>
                        <p class="detalleOjo">Ver detalle</p></a>
                   
                </div>
                </article>

            <article class="articulosR">
               
                <img src="/images/Reloj3.jpg">
                <div class="detallesProductosR">
                    <h3 class="nombreR">Reloj Nogaya</h3>
                    <p class="precioR"> $54.000</p>
                    <p class="financiacionR">18 cuotas sin interés</p>
                    <a href="/Detalle-de-producto" class="verP">
                        <i class="far fa-eye"></i>
                        <p class="detalleOjo">Ver detalle</p></a>
                   
                </div>
                
            </article>

            <article class="articulosR">
                   <img src="/images/Reloj4.jpg">
                <div class="detallesProductosR">
                    <h3 class="nombreR">Reloj Sendai</h3>
                    <p class="precioR"> $28.000</p>
                    <p class="financiacionR">18 cuotas sin interés</p>
                    <a href="/Detalle-de-producto" class="verP">
                        <i class="far fa-eye"></i>
                        <p class="detalleOjo">Ver detalle</p></a>
                   
                </div>
                </article>

            <article class="articulosR">
                     <img src="/images/Reloj5.jpg">
                <div class="detallesProductosR">
                    <h3 class="nombreR">Reloj Osaka</h3>
                    <p class="precioR"> $42.000</p>
                    <p class="financiacionR">18 cuotas sin interés</p>
                    <a href="/Detalle-de-producto" class="verP">
                        <i class="far fa-eye"></i>
                        <p class="detalleOjo">Ver detalle</p></a>
                   
                </div>
                </article>

            <article class="articulosR">
                   <img src="/images/Reloj6.jpg">
                <div class="detallesProductosR">
                    <h3 class="nombreR">Reloj Nagasaki</h3>
                    <p class="precioR"> $36.000</p>
                    <p class="financiacionR">18 cuotas sin interés</p>
                    <a href="/Detalle-de-producto" class="verP">
                        <i class="far fa-eye"></i>
                        <p class="detalleOjo">Ver detalle</p></a>
                   
                </div>
                </article>

            <article class="articulosR">
                    <img src="/images/Reloj7.jpg">
                <div class="detallesProductosR">
                    <h3 class="nombreR">Reloj Kioto</h3>
                    <p class="precioR"> $31.000</p>
                    <p class="financiacionR">18 cuotas sin interés</p>
                    <a href="/Detalle-de-producto" class="verP">
                        <i class="far fa-eye"></i>
                        <p class="detalleOjo">Ver detalle</p></a>
                
                </div>
                </article>

            <article class="articulosR">
                     <img src="/images/Reloj8.jpg">
                <div class="detallesProductosR">
                    <h3 class="nombreR">Reloj Nara</h3>
                    <p class="precioR"> $47.000</p>
                    <p class="financiacionR">18 cuotas sin interés</p>
                    <a href="/Detalle-de-producto" class="verP">
                        <i class="far fa-eye"></i>
                        <p class="detalleOjo">Ver detalle</p></a>
                   
                </div>
                </article>
        </div>
       

    </section>
    <section class="botonMostrarTodo">
        <button>Mostrar todo</button>
    </section>


    <section class="bannerFinal">
        <div class="bannerFinalPartes">
            <i class="fas fa-truck"></i>
            <div class="titulo-p">
            <h2>ENVIAMOS TU COMPRA</h2>
            <p>Entregas en todo el país</p>
            </div>
        </div>
        <div class="bannerFinalPartes" id="bannerFinal2">
            <i class="far fa-credit-card"></i>
            <div class="titulo-p">
            <h2>PAGÁ COMO QUIERAS</h2>
            <p>Tarjetas de crédito o efectivo</p>
            </div>
        </div>
        <div class="bannerFinalPartes" id="bannerFinal1">
            <i class="fas fa-lock"></i>
            <div class="titulo-p">
            <h2>COMPRÁ CON SEGURIDAD</h2>
            <p>Tus datos siempre protegidos</p>
            </div>

        </div>
    </section>

</main>



<footer>

    <section class="section1">

        <div class="FAQ">
        <h2>Atención al cliente</h2>
        <ul>
            <li><a href="/FAQ">Preguntas frecuentes</a></li>
            <li><a href="/FAQ">Envíos y retiros</a></li>
            <li><a href="/FAQ">Newsletter</a></li>
            <li><a href="/FAQ">Cambios y devoluciones</a></li>
        </ul>
    </div>
    <div class="contacto">
        <h2>Contacto</h2>
        <a name="ancla-1"></a>
        <div class="mail">
            <p>inforonin@gmail.com</p>
            <br>
            <p>011-345081915</p>
        </div>
        <div class="iconosSociales">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter-square"></i>
            <i class="fab fa-whatsapp"></i>
        </div>
    </div>
    <div class="mediosDePago">
        <h2>Medios de pago</h2>
        <div class="ahora12">
            <p>Ahora 12 y Ahora 18</p>
        </div>
    <div class="iconosPago">
        <i class="fab fa-cc-visa"></i>
        <i class="fab fa-cc-paypal"></i>
        <i class="fab fa-cc-mastercard"></i>
        <i class="fab fa-cc-amex"></i>
    </div>
    </div>
</section>    

<section class="section2"> 
    <div class="derechosR">
        <p>© 2021 R o n i n</p>
    </div>

</section> 
</footer>

</body>

</html>