<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/css/styles.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="icon" href="/images/Ronin-logo-icon.ico">
    <link rel="stylesheet" href="css/normalize.css">
    <title>Detalle de producto</title>
</head>

<body>

    <header>
        <section class="topMenu">
            <a href="/"><img src="/images/Logo-Ronin.png" alt="Logo Ronin"></a>
    
            <div class="contenedorIconos">
    
                <div class="ContenedorBuscador">
                    <form class="buscador" action="action_page.php">
                        <input type="text" placeholder="Buscar" name="search">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <a href="/Carrito-compras"><i class="fas fa-shopping-cart"></i></a>
                <a href="/login"><i class="fas fa-user-circle"></i></a>
                <div class="burger-menu"><i class="fa fa-bars burger"></i>
                </div>
        </section>
        <section>
            <nav class="nav-bar">
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="#">Colecciones</a></li>
                    <li><a href="#ancla-1">Contacto</a></li>
                    <li><a href="/FAQ">Preguntas frecuentes</a></li>
                </ul>
            </nav>
        </section>
    
    </header>
    

    <main>
        <section class="producto-detalle">
            <section class="contenedor-detalle-producto">
                <article class="contenedor-fotos">
                    <div class="contenedor-carrousel">
                        <div class="diapositivas fade">
                            <div class="numero">1/3</div>
                            <img src="/images/Reloj1.png" style="width: 100%">
                            <div class="nombre-producto">Kamakura</div>
                            <div class="precio-producto">$38.000</div>
                        </div>
                        <!--
                <div class="diapositivas fade">
                    <div class="numero">2/3</div>
                    <img src="/images/Reloj2.jpg" style="width: 100%">
                    <div class="nombre-producto">Reloj2</div>
                    <div class="precio-producto">$2000</div>
                </div>
                <div class="diapositivas fade">
                    <div class="numero">3/3</div>
                    <img src="/images/Reloj3.jpg" style="width: 100%">
                    <div class="nombre-producto">Reloj3</div>
                    <div class="precio-producto">$3000</div>
                </div>
                <a class="anterior" onclick="plusSlides(-1)">&#10094;</a>
                <a class="próximo" onclick="plusSlides(1)">&#10095;</a>
            </div>
            <br>
            -->
                        <div style="text-align:center">
                            <span class="dot" onclick="currentSlide(1)"></span>
                            <span class="dot" onclick="currentSlide(2)"></span>
                            <span class="dot" onclick="currentSlide(3)"></span>
                        </div>
                    </div>
                </article>
                <article class="descripción-producto">
                    <div class="cantidades">
                        <div class="cantidadProducto">
                            <label for="unidades">Cantidad de unidades disponibles</label>
                            <input type="number" name="cantidad-unidades-disponibles" id="contador-cantidad-unidades" placeholder="32">
                            <!--<div class="contenedor-slide">
                                <input type="range" min="1" max="100" value="50" class="slider" id="miRango">
                              </div>
                            <input type="number" name="unidades" id="unidades">-->
                        </div>
                    </div>
                    <article class="contendor-descripciones">
                        <div class="descripción-artículo">
                            <h4>Descripción del artículo</h4>
                            <p>Un clásico imprescindible para tu look diario: reloj con correa de cuero.
                            </p>
                            <ul type="disc">
                                <li>Todas las partes de metal están hechas de metal inoxidable.</li>
                                <li>Movimiento de cuarzo silencioso y preciso</li>
                                <li>Cristal de vidrio mineral premium.</li>
                                <li>Correa de cuero con hebilla.</li>
                                <li>Resistente al agua hasta 3 bar: está protegido contra salpicaduras, se puede usar
                                    para actividades cotidianas normales en las que pueden producirse salpicaduras de
                                    agua (por ejemplo, lavado de manos, lluvia, etc.) pero no debe exponerse a una gran
                                    presión de agua.</li>
                                <li>Caja con logo para almacenamiento y empaque de regalo.</li>
                                <li>Garantía del fabricante de 24 meses</li>
                                <li>Diámetro: Aprox. 3.2 cm</li>
                            </ul>
                        </div>
                        <div class="componentes-artículo">
                            <h4>Componentes del artículo</h4>
                            <ul type="disc">
                                <li>Pulsera: cuero</li>
                                <li>Carcasa: acero inoxidable</li>
                            </ul>
                        </div>
                    </article>
                    <form class="carrito-compra" action="/Carrito-compras" method="GET">
                        <label for="agregar" method="#"></label>
                        <button class="add" type="submit">Agregar a carrito</button>
                    </form>
                    <form action="/" method="GET">
                        <label for="favorito" method="#"></label>
                        <button class="favorite" type="submit">Agregar a favorito</button>
                    </form>
                    <form action="/" method="GET">
                        <label for="compartir" method="#"></label>
                        <button class="share" type="submit">Compartir producto</button>
                    </form>
                </article>
            </section>
            <div class="contenedor-productos-similares">
                <h4>Productos similares</h4>
                <article class="productos-similares">
                    <a href="/Detalle-de-producto"><div class="producto-similar1">
                        <img src="/images/Reloj5.jpg" style="width: 100%">
                        <div class="nombre-producto">Reloj Osaka</div>
                        <div class="precio-producto">$42.000</div>
                    </div></a>
                    <a href="/Detalle-de-producto"><div class="producto-similar2">
                        <img src="/images/Reloj6.jpg" style="width: 100%">
                        <div class="nombre-producto">Reloj Nagasaki</div>
                        <div class="precio-producto">$36.000</div>
                    </div></a>
                    <a href="/Detalle-de-producto"><div class="producto-similar3">
                        <img src="/images/Reloj8.jpg" style="width: 100%">
                        <div class="nombre-producto">Reloj Nara</div>
                        <div class="precio-producto">$47.000</div>
                    </div></a>
                    <a href="/Detalle-de-producto"><div class="producto-similar4">
                        <img src="/images/Reloj4.jpg" style="width: 100%">
                        <div class="nombre-producto">Reloj Sendai</div>
                        <div class="precio-producto">$28.000</div>
                    </div></a>
            </div>
            </article>
        </section>


        
    <section class="bannerFinal">
        <div class="bannerFinalPartes">
            <i class="fas fa-truck"></i>
            <div class="titulo-p">
            <h2>ENVIAMOS TU COMPRA</h2>
            <p>Entregas en todo el país</p>
            </div>
        </div>
        <div class="bannerFinalPartes" id="bannerFinal2">
            <i class="far fa-credit-card"></i>
            <div class="titulo-p">
            <h2>PAGÁ COMO QUIERAS</h2>
            <p>Tarjetas de crédito o efectivo</p>
            </div>
        </div>
        <div class="bannerFinalPartes" id="bannerFinal1">
            <i class="fas fa-lock"></i>
            <div class="titulo-p">
            <h2>COMPRÁ CON SEGURIDAD</h2>
            <p>Tus datos siempre protegidos</p>
            </div>

        </div>
    </section>
    </main>

    <footer>

        <section class="section1">
    
            <div class="FAQ">
            <h2>Atención al cliente</h2>
            <ul>
                <li><a href="/FAQ">Preguntas frecuentes</a></li>
                 <li><a href="/FAQ">Envíos y retiros</a></li>
                <li><a href="/FAQ">Newsletter</a></li>
                <li><a href="/FAQ">Cambios y devoluciones</a></li>
            </ul>
        </div>
        <div class="contacto">
            <h2>Contacto</h2>
            <a name="ancla-1"></a>
            <div class="mail">
                <p>inforonin@gmail.com</p>
                <br>
                <p>011-345081915</p>
            </div>
            <div class="iconosSociales">
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-twitter-square"></i>
                <i class="fab fa-whatsapp"></i>
            </div>
        </div>
        <div class="mediosDePago">
            <h2>Medios de pago</h2>
            <div class="ahora12">
                <p>Ahora 12 y Ahora 18</p>
            </div>
        <div class="iconosPago">
            <i class="fab fa-cc-visa"></i>
            <i class="fab fa-cc-paypal"></i>
            <i class="fab fa-cc-mastercard"></i>
            <i class="fab fa-cc-amex"></i>
        </div>
        </div>
    </section>    
    
    <section class="section2"> 
        <div class="derechosR">
            <p>© 2021 R o n i n</p>
        </div>
    
    </section> 
    </footer>

</body>

</html>