<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/css/styles.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <title>Facturación</title>
</head>

<body>

    <header>
        <section class="topMenu">
            <img src="/images/Logo-Ronin.png" alt="Logo Ronin">
    
            <div class="contenedorIconos">
    
                <div class="ContenedorBuscador">
                    <form class="buscador" action="action_page.php">
                        <input type="text" placeholder="Buscar" name="search">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <a href="/Carrito-compras"><i class="fas fa-shopping-cart"></i></a>
                <a href="/login"><i class="fas fa-user-circle"></i></a>
                <div class="burger-menu"><i class="fa fa-bars burger"></i>
                </div>
        </section>
        <section>
            <nav class="nav-bar">
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="#">Colecciones</a></li>
                    <li><a href="#ancla-1">Contacto</a></li>
                    <li><a href="/FAQ">Preguntas frecuentes</a></li>
                </ul>
            </nav>
        </section>
    
    </header>
    
<main class="billing">
<section class="contenedor-billing">
    <form action="/billing" method="POST" class="form-billing">
        <div class="control-formulario">
            <h2>Seleccione un método de pago:</h2>
            <label for="payment-type"></label> 
                <select name="payment-type"> 
                    <option value="Efectivo">Efectivo</option>
                    <option value="Tarjeta de crédito">Tarjeta de crédito</option>
                    <option value="Tarjeta débito">Tarjeta débito</option> 
                    <option value="Mercado Pago">Mercado Pago</option> 
                </select> 
        </div>
        <div class="control-formulario">
            <label for="card-number">Número de la tarjeta* :</label>
                <label><input type="text" name="card-number" id="card-number" placeholder="Ej. 12345-6789" class="control" required ></label>
        </div>
        <div class="control-formulario">
            <label for="card-date">Fecha de vencimiento* :</label>
                <label><input type="text" name="card-date" id="card-date" placeholder="mm/aa" required class="control"></label>
        </div>
        <div class="control-formulario">
            <label for="card-pass">Código de seguridad* :</label>
                <label><input type="password" name="card-pass" id="card-pass" required></label>
        </div>
        <div class="control-formulario">
            <label for="cuotas">Número de cuotas*:</label>
                <select name="cuotas">
                    <option value="3">3</option>
                    <option value="6">6</option>
                    <option value="12">12</option>
                </select>
        </div>
        <div class="control-formulario">
            <label for="Pago con dinero en efectivo">
                <input type="radio" name="efectivo-option" value="Pago con dinero en efectivo" id="Pago con dinero en efectivo" required>
                    Pago con dinero en efectivo
            </label>
            <label for="Western Union">
                <input type="radio" name="efectivo-option" value="Western Union" id="Western Union" required>
                    Western Union
            </label>
            <label for="Pay Pal">
                <input type="radio" name="efectivo-option" value="Pay Pal" id="Pay Pal" required>
                    <i class="fab fa-paypal"></i>
            </label>
            <label for="Mercado Pago">
                <input type="radio" name="efectivo-option" value="Mercado Pago" id="Mercado Pago" required>
                    Mercado Pago
            </label>
        </div>
        <div class="control-formulario">
            <label for="terminos">
                <input type="checkbox" name="terminos">
                He leído y acepto los términos y condiciones
            </label>
            <br>
            <br>
            <label for="newsletter"> 
                <input type="checkbox" name="newsletter">
                ¡Quiero recibir promociones y descuentos!
            </label>      
            <br>
            <br>
        <button type="submit" class="button-billing">Realizar pago</button>
    </form>
</section>    

<section class="contenedor-datos">
    <form action="" method="POST">
        <div class="formulario-de-facturacion">
            <div>
              <label for="nombre">Nombre:</label><input type="text" name="nombre" id="nombre" required>
              <label for="apellido">Apellido</label><input type="text" name="apellido" id="apellido" required>
            </div>
    
        <article class="datos-de-factutracion">
            
            <label for="direccion">Direccion</label>
            
            <input type="text" name="direccion" id="direccion" required>
           
                <label for="localidad">Localidad</label>
            
            <input type="text" name="localidad" id="localidad" required>
        </article>
        <article class="datos-de-factutracion">
            
                <label for="provincia">Provincia</label>
            
            <input type="text" name="provincia" id="provincia" required>
    
            
                <label for="codigo postal">Codigo postal</label>
            
            <input type="text" name="codigo postal" id="codigo postal">
    
        </article>
        <article class="datos-de-factutracion">
            
                <label for="telefono">Telefono</label>
            
            <input type="tel" name="numero de telefono" id="telefono">
    
            
                <label for="email">Email</label>
           
            <input type="email" name="email" id="email">
    
        </article>
        <article class="datos-de-factutracion">
            
            <label for="dni">DNI</label>
        
        <input type="number" name="dni" id="dni">
        </article>
    
    </article>
    </form>
</section>
</main>
<footer>

    <section class="section1">

        <div class="FAQ">
        <h2>Atención al cliente</h2>
        <ul>
            <li><a href="#">Preguntas frecuentes</a></li>
            <li><a href="#">Envíos y retiros</a></li>
            <li><a href="#">Newsletter</a></li>
            <li><a href="#">Cambios y devoluciones</a></li>
        </ul>
    </div>
    <div class="contacto">
        <h2>Contacto</h2>
        <a name="ancla-1"></a>
        <div class="mail">
            <p>inforonin@gmail.com</p>
            <br>
            <p>011-345081915</p>
        </div>
        <div class="iconosSociales">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter-square"></i>
            <i class="fab fa-whatsapp"></i>
        </div>
    </div>
    <div class="mediosDePago">
        <h2>Medios de pago</h2>
        <div class="ahora12">
            <p>Ahora 12 y Ahora 18</p>
        </div>
    <div class="iconosPago">
        <i class="fab fa-cc-visa"></i>
        <i class="fab fa-cc-paypal"></i>
        <i class="fab fa-cc-mastercard"></i>
        <i class="fab fa-cc-amex"></i>
    </div>
    </div>
</section>    

<section class="section2"> 
    <div class="derechosR">
        <p>© 2021 R o n i n</p>
    </div>

</section> 
</footer>
</body>

</html>