<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/css/styles.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <title>Home</title>
</head>

<header>
    <section class="topMenu">
       <img src="/images/Logo-Ronin.png" alt="Logo Ronin">
        
        <div class="contenedorIconos"> 
        
            <div class="ContenedorBuscador">
                <form class="buscador" action="action_page.php">
                    <input type="text" placeholder="Buscar" name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <i class="fas fa-shopping-cart"></i>
            <i class="fas fa-user-circle"></i>
            <div class="burger-menu"><i class="fa fa-bars burger"></i>
        </div>
    </section>
    <section>
        <nav class="nav-bar">
            <ul>
                <li><a href="#">Menu</a></li>
                <li><a href="#">Noticias</a></li>
                <li><a href="#">Colecciones</a></li>
                <li><a href="#">Sobre Nosotros</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
        </nav>
    </section>

</header>



<body>

</body>

</html>