<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/css/styles.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <title>Home</title>
</head>

<header>
    <section class="topMenu">
        <img src="/images/Logo-Ronin.png" alt="Logo Ronin">

        <div class="contenedorIconos">

            <div class="ContenedorBuscador">
                <form class="buscador" action="action_page.php">
                    <input type="text" placeholder="Buscar" name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <i class="fas fa-shopping-cart"></i>
            <i class="fas fa-user-circle"></i>
            <div class="burger-menu"><i class="fa fa-bars burger"></i>
            </div>
    </section>
    <section>
        <nav class="nav-bar">
            <ul>
                <li><a href="#">Menu</a></li>
                <li><a href="#">Noticias</a></li>
                <li><a href="#">Colecciones</a></li>
                <li><a href="#">Sobre Nosotros</a></li>
                <li><a href="#">FAQ</a></li>
            </ul>
        </nav>
    </section>

</header>

<main>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa omnis aliquam quibusdam neque animi praesentium
        culpa voluptate blanditiis illum iure vero possimus enim, voluptates mollitia quam nobis aperiam libero dolorem!
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa omnis aliquam quibusdam neque animi praesentium
        culpa voluptate blanditiis illum iure vero possimus enim, voluptates mollitia quam nobis aperiam libero dolorem!
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa omnis aliquam quibusdam neque animi praesentium
        culpa voluptate blanditiis illum iure vero possimus enim, voluptates mollitia quam nobis aperiam libero dolorem!
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa omnis aliquam quibusdam neque animi praesentium
        culpa voluptate blanditiis illum iure vero possimus enim, voluptates mollitia quam nobis aperiam libero dolorem!
    </p>
    
</main>

<footer>

    <!--Hay que rediseñar esta parte. Hacer dos grandes secciones: section.contenido y section.copyright. Dentro
    de cada sección van a ir diferentes divs. -->
    
    <section class="SobreNosotros">
        <h2>Quienes somos</h2>
        <!--Alt+Z ajustar párrafo-->
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque mollitia facilis numquam quisquam veniam
            quam aliquam corrupti architecto enim veritatis. Eos, et dolore maxime veritatis ducimus eum soluta nesciunt
            magni!</p>
    </section>
    <section class="FAQ">
        <h2>Nuestra información</h2>
        <ul>
            <li><a href="#">Cambios y devoluciones</a></li>
            <li><a href="#">Envíos y retiros</a></li>
            <li><a href="#">Newsletter</a></li>
            <li><a href="#">FAQ</a></li>
        </ul>
    </section>
    <section class="contacto">
        <h2>Contacto</h2>
        <div class="mail">
            <p>inforonin@gmail.com</p>
        </div>
        <div class="iconosSociales">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter-square"></i>
            <i class="fab fa-whatsapp"></i>
        </div>
    </section>
    <section class="mediosDePago">
        <h2>Medios de pago</h2>
    <div class="iconosPago">
        <i class="fab fa-cc-visa"></i>
        <i class="fab fa-cc-paypal"></i>
        <i class="fab fa-cc-mastercard"></i>
        <i class="fab fa-cc-amex"></i>
    </div>
    </section>

   
<section class="derechosR">
        <p>© 2021 R o n i n</p>
    </section>
</footer>
 


<body>

</body>

</html>