<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/css/styles.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <title>Login</title>
</head>

<body>
    <header>
        <section class="topMenu">
            <img src="/images/Logo-Ronin.png" alt="Logo Ronin">
    
            <div class="contenedorIconos">
    
                <div class="ContenedorBuscador">
                    <form class="buscador" action="action_page.php">
                        <input type="text" placeholder="Buscar" name="search">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <a href="/Carrito-compras"><i class="fas fa-shopping-cart"></i></a>
                <a href="/login"><i class="fas fa-user-circle"></i></a>
                <div class="burger-menu"><i class="fa fa-bars burger"></i>
                </div>
        </section>
        <section>
            <nav class="nav-bar">
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Colecciones</a></li>
                    <li><a href="#">Sobre nosotros</a></li>
                    <li><a href="/FAQ">Preguntas frecuentes</a></li>
                </ul>
            </nav>
        </section>
    
    </header>

<main class="mainDelLogin">
    
    
        
            
            <h1 class="tituloDelLogin">Iniciar sesión</h1>
            


    <form action="/login" method="POST">
        <div class="datosDelLogin">
<div class="nombre-e-email-del-login">
    <label  for="email-del-usuario">Email</label>
</div>
    <input class="datos-del-login-mas-especificos" type="email" name="su-email" id="email-del-uario" required>
</div>
<div class="datosDelLogin">
    <div class="nombre-e-email-del-login">
    <label for="su-contraseña">Contraseña</label>
    </div>
    <input class="datos-del-login-mas-especificos" type="password" name="su-contraseña" id="su-contraseña" required>
</div>
<div class="datosDelLogin">
    <label for="recordatorio-de-cuenta">Recordar contraseña
    <input type="checkbox" name="recordatorio" id="recordatorio-de-cuenta"></label>
</div>
<div class="datosDelLogin">
    <div class="boton-del-login">
<button class="boton-login-interno" type="submit">Acceder</button>
</div>
</div>

</form>


<a href="" class="enlace-del-login">¿Olvido su contraseña?</a>




<a href="/Registro" class="enlace-del-login">¿No tienes cuenta aún? Regístrate</a>



</main>












    <footer>

        <section class="section1">
    
            <div class="FAQ">
            <h2>Atención al cliente</h2>
            <ul>
                <li><a href="#">Preguntas frecuentes</a></li>
                <li><a href="#">Envíos y retiros</a></li>
                <li><a href="#">Newsletter</a></li>
                <li><a href="#">Cambios y devoluciones</a></li>
            </ul>
        </div>
        <div class="contacto">
            <h2>Contacto</h2>
            <div class="mail">
                <p>inforonin@gmail.com</p>
                <br>
                <p>011-345081915</p>
            </div>
            <div class="iconosSociales">
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-twitter-square"></i>
                <i class="fab fa-whatsapp"></i>
            </div>
        </div>
        <div class="mediosDePago">
            <h2>Medios de pago</h2>
            <div class="ahora12">
                <p>Ahora 12 y Ahora 18</p>
            </div>
        <div class="iconosPago">
            <i class="fab fa-cc-visa"></i>
            <i class="fab fa-cc-paypal"></i>
            <i class="fab fa-cc-mastercard"></i>
            <i class="fab fa-cc-amex"></i>
        </div>
        </div>
    </section>    
    
    <section class="section2"> 
        <div class="derechosR">
            <p>© 2021 R o n i n</p>
        </div>
    
    </section> 
    </footer>


</body>

</html>